.auth {
  margin-top: 10px;
  .flex_auth {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .stackform {
    width: calc((100% - 40px) / 2);
    &.force {
      width: 100% !important;
    }
    flex-grow: 1;
    margin: 5px 0px;
    .box {
      padding: 10px;
      gap: 5px;
      border: 1.5px solid #bfbdbd;
      &.error {
        border:  1px solid red !important;
      }
      border-radius: 10px;
      align-items: center;
      img {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
    input,
    select {
      outline: none;
      flex-grow: 1;
      background-color: transparent !important;
      border: none;
      &::placeholder {
        font-family: Rubik;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        text-transform: capitalize;
      }
    }
  }
  .label {
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
    margin-bottom: 5px;
  }
  @media screen and (max-width: 768px) {
    .flex_auth {
      display: block;
      .stackform {
        width: 100%;
      }
    }
  }
  &.force {
    .stackform {
      width: 100% !important;
    }
  }

  .message {
    font-size: 14px;
    color: red;
  }
}
