// main trtranstion
$transtion: 0.3s linear;

// fonts
$font_space_grotesk: Space Grotesk, sans-serif;
$font_Rubik: Rubik;
$font_open_sans: Open Sans;
$font_inter: Inter;
$font_noto: "Noto Kufi Arabic", sans-serif;
// fonts

// colors
$main_color_bg: #ffffff;
$main_color_Auth: #0000004d;
$main_color_box: #233545;
$main_color_box_green: #115b43;
$main_color_title: #ffc633;

// text colors
$text_color_white: #ffffff;
$text_color_black: #000000;

// common
$color_text_area: #f9f9f9;
$color_input_switch: #00ec18bd;
$margin: 60px 0px;
