body.ar {
  .blackStar,
  .blackBall {
    left: 0;
  }
}

.home {
  .container {
    margin-top: 40px;
    @media screen and (max-width: 900px) {
      .main {
        display: block !important;
        .combo {
          display: none;
        }
        .box {
          width: 100% !important;
          h1 {
            font-size: 25px !important;
          }
        }
      }
      .con {
        p {
          width: 100% !important;
        }
        .search {
          width: 100% !important;
        }
      }
    }
    .main {
      display: flex;
      gap: 30px;
      .box {
        flex-basis: 50%;
        h1 {
          color: #000;
          font-family: "Space Grotesk";
          font-size: 55px;
          font-style: normal;
          font-weight: 500;
        }
      }
      .combo {
        position: relative;
        height: 400px;
        flex-basis: 50%;
        z-index: -1;
        img {
          position: absolute;
        }
        .temp {
          width: 319.061px;
          height: 198.872px;
          transform: rotate(-17.983deg) translateX(-50%);
          flex-shrink: 0;
          left: 50%;
        }
        .circle {
          width: 100%;
          display: flex;
          img {
            z-index: 100;
            transform: translate(50px, 0px);
            animation: test1 infinite linear 4s;
            // @keyframes test1 {
            //   0% {
            //     transform: translate(50px, 50px);
            //   }
            //   50% {
            //     transform: translate(50px, 50px) rotate(-90);
            //   }
            //   100% {
            //     transform: translate(50px, 50px) rotate(360deg);
            //   }
            // }
          }
          img:nth-child(2) {
            transform: translate(50px, 50px);
            animation: test2 infinite linear 8s;
            // @keyframes test2 {
            //   0% {
            //     transform: translate(50px, 50px);
            //   }
            //   100% {
            //     transform: translate(50px, 50px) rotate(180deg);
            //   }
            // }
          }
          img:nth-child(3) {
            transform: translate(50px, 100px);
            animation: test3 infinite linear 6s;
            // @keyframes test3 {
            //   0% {
            //     transform: translate(50px, 50px);
            //   }
            //   100% {
            //     transform: translate(50px, 50px) rotate(-180deg);
            //   }
            // }
          }
        }
        .greenLocation {
          right: 10px;
          top: 55%;
          z-index: 102;
          animation: fade infinite linear 3s;
          @keyframes fade {
            50% {
              transform: scale(0.5);
            }
            100% {
              transform: scale(1);
            }
          }
        }
        .blackPause {
          right: 0px;
          top: 34%;
          z-index: 102;
          animation: fade infinite linear 4s;
          @keyframes fade {
            50% {
              transform: scale(0.5);
            }
            100% {
              transform: scale(1);
            }
          }
        }
        .greenShare {
          right: 0px;
          top: 14%;
          z-index: 102;
          animation: fade infinite linear 5s;
          @keyframes fade {
            50% {
              transform: scale(0.5);
            }
            100% {
              transform: scale(1);
            }
          }
        }
        .blackHeart {
          right: 12%;
          top: 0%;
          z-index: 102;
          animation: fade infinite linear 6s;
          @keyframes fade {
            50% {
              transform: scale(0.5);
            }
            100% {
              transform: scale(1);
            }
          }
        }
        .blackStar {
          bottom: 20%;
          z-index: 102;
          animation: test infinite linear 2s;
          @keyframes test {
            100% {
              transform: rotate(360deg);
            }
          }
          &.two {
            bottom: 10%;
            left: 40%;
            width: 30px;
            height: 30px;
          }
        }
        .greenBall {
          top: 40px;
          left: 50px;
          z-index: 102;
          animation: ball infinite linear 2s;
          @keyframes ball {
            100% {
              transform: rotateY(180deg);
            }
          }
        }
        .blackBall {
          animation: ball infinite linear 2s;
          @keyframes ball {
            100% {
              transform: rotateY(-180deg);
            }
          }
        }
      }
    }
    & > .con {
      p {
        margin: 35px 0px;
        color: #000;
        font-family: "Space Grotesk";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        width: 50%;
      }
      button {
        padding: 20px 35px;
        border-radius: 14px;
        background: #233545;
        color: #fff;
      }
      .search {
        margin: 30px 0px;
        width: 50%;
        display: flex;
        padding: 0px 10px;
        align-items: center;
        border-radius: 8px;
        border: 1px solid #a7a6a6;
        input {
          padding: 15px;
          flex-grow: 1;
          border: none;
          outline: none;
        }
      }
    }
    .sponserd {
      margin-bottom: 20px;
      & > h1 {
        color: #000;
        font-family: Inter;
        font-size: 24px;
        font-weight: 400;
        padding: 0px 7px;
        border-radius: 7px;
        background: #ffc633;
        margin: 30px 0px;
        width: fit-content;
      }
      .grid {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 20px;
        @media screen and (max-width: 500px) {
          grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }
      }
    }
    .topRated {
      margin: 30px 0px;
      & > h1 {
        border-radius: 7px;
        background: #ffc633;
        padding: 0px 7px;
        color: #000;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: fit-content;
        margin-bottom: 10px;
      }
      & > p {
        color: #000;
        font-family: "Space Grotesk";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .grid {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 20px;
        @media screen and (max-width: 500px) {
          grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }
      }
    }
    .process {
      & > h1 {
        background-color: #115b43;
        width: fit-content;
        color: #fff;
        font-family: Inter;
        font-size: 24px;
        padding: 0px 7px;
        font-style: normal;
        font-weight: 600;
        margin-bottom: 10px;
        line-height: 44px; /* 122.222% */
      }
      & > p {
        color: #000;
        font-family: "Space Grotesk";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .toggle {
        margin-top: 20px;
        .item {
          transition: 0.3s linear;
          border-radius: 25px;
          border: 1px solid #191a23;
          background: #f3f3f3;
          box-shadow: 0px 5px 0px 0px #191a23;
          padding: 20px;
          margin-bottom: 30px;
          color: #000;
          .head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            transition: 0.3s linear;
            .img {
              border: 1px solid #233545;
              border-radius: 50%;
              min-width: 35px;
              height: 35px;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              z-index: 200;
              img {
                cursor: pointer;
                z-index: 200;
              }
            }
            .inside {
              display: flex;
              align-items: center;
              gap: 10px;
              p {
                font-family: "Space Grotesk";
                font-size: 40px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
              }
              p:nth-child(2) {
                font-family: "Space Grotesk";
                font-size: 25px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
              }
            }
          }
          .con {
            overflow: hidden;
            p {
              border-top: 1px solid #fff;
              padding-top: 5px;
              color: #fff;
              font-family: "Space Grotesk";
              font-size: 18px;
              font-weight: 400;
              line-height: normal;
              max-height: 0px;
              transition: 0.3s linear;
            }
          }
          &.active {
            background-color: #115b43;
            color: #fff;
            .head {
              padding-bottom: 10px;
            }
            .img {
              border: none;
              background-color: #f3f3f3;
            }
            .con {
              p {
                max-height: 600px !important;
              }
            }
          }
        }
      }
      @media screen and (max-width: 768px) {
        .head {
          .inside {
            p {
              font-size: 20px !important;
            }
            p:nth-child(2) {
              font-size: 16px !important;
            }
          }
        }
      }
    }
    .services {
      & > h1 {
        color: #fff;
        font-family: "Space Grotesk";
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 0px 7px;
        background-color: #233545;
        width: fit-content;
        margin-bottom: 10px;
      }
      & > p {
        color: #000;
        font-family: "Space Grotesk";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: min(620px, 90%);
      }
      .grid {
        margin: 20px 0px 40px 0px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        gap: 20px;
        @media screen and (max-width: 500px) {
          grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }
        .box {
          background-color: #f3f3f3;
          color: #233545;
          padding: 30px;
          border-radius: 35px;
          box-shadow: 0px 5px 0px 0px #191a23;
          &.backGround {
            color: #f3f3f3;
            background-color: #233545;
            .more {
              i {
                color: #233545;
                background-color: #fff;
              }
            }
          }
          .flexer {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            padding-bottom: 20px;
            img {
              width: 150px;
              @media screen and (max-width: 400px) {
                width: 130px;
              }
              object-fit: cover;
            }
            .con {
              h3 {
                font-family: Inter;
                font-size: 24px;
                @media screen and (max-width: 600px) {
                  font-size: 18px;
                }
                font-style: normal;
                font-weight: 600;
                &.fade {
                  background-color: #233545;
                  color: #fff;
                  padding: 0px 7px;
                  border-radius: 5px;
                  width: fit-content;
                }
              }
              p {
                font-family: Inter;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                @media screen and (max-width: 600px) {
                  font-size: 18px;
                }
                &.fade {
                  background-color: #233545;
                  color: #fff;
                  padding: 0px 7px;
                  border-radius: 5px;
                  width: fit-content;
                  margin-top: 5px;
                }
              }
            }
          }
          .more {
            display: flex;
            align-items: center;
            gap: 10px;
            i {
              background-color: #233545;
              color: #fff;
              font-size: 20px;
              padding: 10px;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}
