.profilePage {
  margin: 40px 0px;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  justify-content: center;
  align-items: center;
  gap: 10px;
  .contentPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 400px;
    @media screen and (max-width: 600px) {
      width: 350px;
    }
    .cardProfile , .cardBasic {
      width: 100%;
    }
  }

  .NoCards {
    height: 70.7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    h1 {
      color: #011334;
      font-family: Rubik;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
    }
    a {
      font-family: Rubik;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      color: #fff;
      padding: 10px;
      border-radius: 10px;
      background-color: #212936;
    }
  }



  .Create {
    background-color: #212936;
    color: #fff;
  
    padding: 10px 0px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    width: 400px;
    @media screen and (max-width: 600px) {
      width: 350px;
    }
  }
}
