.cardProfile {
  transition: 0.4s linear;
  position: relative;
  border-radius: 10px;
  &.default {
    background-color: #233545;
    color: #fff;
    .operation {
      .inside {
        button {
          background-color: #fff !important;
          color: #233545 !important;
        }
      }
    }
  }
  &.black {
    background-color: #222;
    color: #fff;
  }
  &.white {
    background-color: #fff;
    border: 1px solid #233545;
    color: #233545 !important;
    .info_operations {
      button {
        color: #fff !important;
        background-color: #233545 !important;
      }
    }
    .about,
    .gallery {
      h1 {
        border-bottom: 1px solid #222 !important;
        color: #233545 !important;
      }
      p {
        color: #233545 !important;
      }
    }
    .links {
      a {
        background-color: #233545 !important;
        color: white !important;
      }
    }
    .all {
      .info {
        a {
          background-color: #222 !important;
        }
      }
    }
  }
  &.green {
    background-color:#115b43;
    color: #fff;
  }
  &.gold {
    background-color: #c25b00;
    color: #fff;
  }
  * {
    z-index: 400;
  }
  .backImg {
    width: 100%;
    img {
      border-radius: 10px;
      width: 100%;
      height: 100px;
    }
  }
  .all {
    padding: 15px;
    .profile {
      position: absolute;
      left: 0%;
      top: 55px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      & > P {
        text-align: center;
      }
      .mega {
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .pic {
          display: flex;
          align-items: end;
          gap: 10px;
          img {
            width: 90px;
            height: 90px;
            border-radius: 10px;
          }
          p {
            font-size: 12px;
            font-weight: bold;
          }
        }
        .info {
          margin-top: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          h3,
          h1,
          a {
            display: block;
            width: fit-content;
            font-size: 10px;
          }
          h1 {
            font-size: 15px;
          }
          a {
            background-color: white;
            border-radius: 50%;
            margin: 5px 0px;
            &.white {
              padding: 2px;
            }
            cursor: pointer;
            img {
              width: 20px;
              height: 20px;
              &.white {
                padding: 5px;
              }
            }
          }
        }
      }
    }
    .info_operations {
      padding-top: 30px;
      margin-bottom: 40px;
      @media screen and (max-width : 450px) {
        padding-top: 40px;
      }
      display: flex;
      justify-content: space-between;
      align-items: center;
      .part-1 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .mode {
          padding-bottom: 10px;
          border-bottom: 1px solid;
          p {
            font-family: Nunito;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: capitalize;
          }
          .imgs {
            display: flex;
            gap: 3px;
            img {
              width: 12px;
              height: 12px;
              cursor: pointer;
            }
            .defaultBall {
              width: 12px;
              height: 12px;
              background-color: #141f29;
              border-radius: 50%;
              cursor: pointer;
            }
          }
        }
        .flex {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
          img {
            width: 19px;
            height: 19px;
            cursor: pointer;
          }
        }
      }
      .part-2 {
        .rate {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
        button {
          width: 90.25px;
          height: 33.506px;
          background-color: #fff;
          border-radius: 7px;
          color: #233545;
          font-weight: bold;
          @media screen and (max-width: 600px) {
            width: fit-content;
            padding: 8px 10px;
            height: auto;
          }
        }
      }
    }
    .links {
      display: flex;
      align-items: center;
      width: 70%;
      margin: 0px auto 10px auto;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: space-between;
      .two {
        justify-content: start !important;
      }
      a {
        background-color: white;
        cursor: pointer;
        color: #233545;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          font-size: 12px;
        }
      }
    }
    .about {
      h1 {
        width: fit-content;
        color: #fff;
        font-family: Nunito;
        font-size: 14px;
        font-weight: 700;
        padding-bottom: 4px;
        border-bottom: 1px solid #fff;
        margin-bottom: 10px;
      }
      p {
        color: #fff;
        font-family: "Space Grotesk";
        font-size: 12.875px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 3.206px;
      }
    }
    .gallery {
      margin-top: 10px;
      h1 {
        width: fit-content;
        color: #fff;
        font-family: Nunito;
        font-size: 14px;
        font-weight: 700;
        padding-bottom: 4px;
        border-bottom: 1px solid #fff;
        margin-bottom: 10px;
      }
      .swiper {
        width: 100%;
        height: 100%;
        .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
        }

        .swiper-slide img {
          display: block;
          width: 100%;
          height: 70px;
          object-fit: cover;
          border-radius: 8px;
        }
      }
    }
  }
  .shape {
    position: absolute;
    height: 75%;
    width: 100%;
    bottom: 0;
    z-index: 0;
  }
}
